<script >
    </script>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>

<script>
    jQuery(document).ready(function($) {
      document.getElementById("find").innerHTML = "<span>Back</span>";
      document.getElementById("find").style.cssFloat = "left";
      
        $('#find').click(function() {
              window.location = '/cohort_tool/opd_menu?report_name=<%=@report_name%>'; // /report/data_cleaning';
          })
     })
</script>



<style>

	.basic_span {
		position:relative;
		width:50%;
		display:block;
		float:left;
	}

</style>

	<h1 align='center' style="position:relative; top:15px;"><u> <%= @report_name.humanize.split.map{|w| w.capitalize}.join(' ') %> </u></h1>
	<br > <span style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px; font-size:20px;"> Dates : <u><%= "#{@start_date} to #{@end_date}" %> </u></span>

	<% if ["TOTAL_REGISTERED", "DIAGNOSIS_BY_ADDRESS", "PATIENT_LEVEL_DATA", "DIAGNOSIS_REPORT"].include?(@report_name.upcase) %>	
		<span style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px; font-size:20px;"> Group (s) : <u><%= "#{@age_groups.join(' , ').to_s} </u>" %> </span>	
	<% end %>

	<div style="position:relative; width:100%; overflow-y:scroll;">
		<table class='summary' style="width:auto;">
				<thead>
				
					<% if @report_name.upcase == "DISAGGREGATED_DIAGNOSIS" %>
				    <tr>
						  <th> <u>Diagnosis</u> <p />
						  </th>
						  <th> 
									<span><u>< 6 Months </u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th> 
									<span><u>	6 Months to < 5</u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th>
									<span><u> 5 to 14 </u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th>
									<span><u> > 14 <u/></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>
						  <th>
									<span> <u>Total by gender</u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>
						  <th style="padding-right:30px;" ><u>Total</u><p /></th>
				    </tr>
				    
				  <% elsif @report_name.upcase == "DIAGNOSIS_BY_ADDRESS" %>
						  <th> <u>Diagnosis</u> <p />
						  </th>
						  <th> 
									<u> Address </u> <p />
						  </th>						  
						  <th> 
									<u>	Total </u> <p />
						  </th>
						  
				  <% elsif @report_name.upcase == "PATIENT_LEVEL_DATA" %>
						  <th> <u>Name</u> <p />
						  </th>
						  <th> 
									<u> Birthdate </u> <p />
						  </th>						  
						  <th> 
									<u>	Gender </u> <p />
						  </th>
						  <th> <u> Primary Diagnosis </u> <p />
						  </th>
						  <th> 
									<u> Secondary Diagnosis </u> <p />
						  </th>						  
						  <th> 
									<u>	Treatment </u> <p />
						  </th>
						  <th> 
									<u>	Visit Date </u> <p />
						  </th>
					<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>  	
						  <th> <u>DIAGNOSIS</u> <p />
						  </th>
						  <th> 
									<u> Total </u> <p />
						  </th>

				  <% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
						  <th> <u>Name</u> <p />
						  </th>
						  <th> 
									<u> Birthdate </u> <p />
						  </th>						  
						  <th> 
									<u>	Gender </u> <p />
						  </th>
						  <th> <u> Date Registered </u> <p />
						  </th>
						  <th> 
									<u> Address </u> <p />
						  </th>						  
						  <th> 
									<u>	T.A </u> <p />
						  </th>

					<% elsif @report_name.upcase == "REFERRAL" %>  	
						  <th> <u>Facility</u> <p />
						  </th>
						  <th> 
									<u> Total Referrals </u> <p />
						  </th>
						  	  
				  <% end %>
				</thead>
		</table>
	</div>

<div style = "position : relative; width : 100%; height: 510px; overflow-y:scroll;">
	<table class='summary'>
		  <tbody>

				<% if @report_name.upcase == "disaggregated_diagnosis".upcase %>
		      <% @disaggregated_diagnosis.each do |key,value| %>
		      	<tr>
		      			<td width="300px"> <span style="display:block; width:90%;"> <%= key.to_s %> </span> </td>

		      			<td align="center" > <%= "<span class='basic_span' > #{value["< 6 MONTHS"]["M"]} </span> <span class='basic_span'> #{value["< 6 MONTHS"]["F"]}" %> </span> </td>

		      			<td align="center" > <%= "<span class='basic_span' > #{value["U5"]["M"]} </span> <span class='basic_span'> #{value["U5"]["F"]}" %> </span> </td>
		      			<td align="center" > <%= "<span class='basic_span'> #{value["5-14"]["M"]} </span> <span class='basic_span'> #{value["5-14"]["F"]}" %> </span> </td>
		      			<td align="center" > <%= "<span class='basic_span'> #{value[">14"]["M"]}  </span> <span class='basic_span'> #{value[">14"]["F"]}" %> </span> </td>
		      			<% 
		      				 m_total = value[">14"]["M"] + value["5-14"]["M"] + value["U5"]["M"]
		      				 f_total = value["U5"]["F"]+value["5-14"]["F"]+value[">14"]["F"]
		      			%>
		      			<td align="center" > <%= "<span class='basic_span'> #{m_total}  </span> <span class='basic_span'> #{f_total}" %> </td>
		      			<td align="right" style="padding-right:30px; width:130px;" > <%= "#{m_total+f_total}" %> </td>
		      	</tr>
		      <% end %>
		      
				<% elsif @report_name.upcase == "diagnosis_by_address".upcase %>
		      <% @diagnosis_by_address.sort.each do |key,value| %>
		      	
		      			<% value.sort.each do |address, total| %>
									<tr>
											<td width="35%"> <span style="display:block; width:90%;"> <%= key.to_s %> </span> </td>			     
											<td width="35%" align="left" > <%= "<span class='basic_span' > #{ address} </span> " %> </td>
											<td width="30%" align="right" > <%= "<span class='basic_span' > #{ total} </span> " %> </td>			      				
									</tr>
		      			<% end %>
		      <% end %>

				<% elsif @report_name.upcase == "patient_level_data".upcase %>
					<%
						primary_diagnosis = "PRIMARY DIAGNOSIS"
						secondary_diagnosis = "SECONDARY DIAGNOSIS"
						treatment = "TREATMENT"
					%>
					<% @patient_level_data.each do |date,data_hash_by_gender| %>

						<% data_hash_by_gender.each do |gender, data_hash_by_id| %>

							<% data_hash_by_id.each do |id, data_hash_by_name| %>

								<% data_hash_by_name.each do |name, data_hash_by_birthdate| %>

									<% data_hash_by_birthdate.each do |birthdate, data_hash_by_data| %>
									<tr>
											<td> <span style="display:block; width:90%;"> <%= "#{name}" %> </span> </td>
											<td align="center" > <%= "<span > #{birthdate} </span> " %> </td>
											<td align="right" > <%= "<span class='basic_span' > #{gender} </span> " %> </td>
											<td align="right" > <%= "<span class='basic_span' > #{data_hash_by_data[primary_diagnosis]} </span> " %> </td>
											<td align="right" > <%= "<span class='basic_span' > #{data_hash_by_data[secondary_diagnosis]} </span> " %> </td>	     
											<td align="left" > <%= "<span class='basic_spuan' > #{data_hash_by_data[treatment]} </span> " %> </td>
											<td align="right" > <%= "<span class='basic_span' > #{date} </span> " %> </td> 				
									</tr>
									<% end %>

								<% end %>

							<% end %>

						<% end %>
						
					<% end %>
					
				<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>
					<% @diagnosis_report.each do |diagnosis,total| %>
									<tr>
											<td width="50%"> <span style="display:block; width:90%;"> <%= "#{diagnosis}" %> </span> </td>
											<td align="center" > <%= "<span > #{total} </span> " %> </td>				
									</tr>					
					<% end %>
					
				<% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
						<%  
								name=0
								birthdate=1
								gender=2
								date_registered=3
								address=4
								t_a=5
						%>
						<% @total_registered.each do |record| %>
						<tr>
								<td> <span style="display:block; width:90%;"> <%= "#{record[name]}" %> </span> </td>
								<td align="center" > <%= "<span > #{record[birthdate]} </span> " %> </td>
								<td> <%= "<span class='basic_span' > #{record[gender]} </span> " %> </td>
								<td align="right" > <%= "<span class='basic_span' > #{record[date_registered]} </span> " %> </td>
								<td> <%= "<span class='basic_span' > #{record[address]} </span> " %> </td>	     
								<td align="left" > <%= "<span class='basic_spuan' > #{record[t_a]} </span> " %> </td>				
						</tr>
						<% end %>
						
				<% elsif  @report_name.upcase == "REFERRAL"  %>
					<% @referral_locations.each do |referral,total| %>
									<tr>
											<td width="50%"> <span style="display:block; width:90%;"> <%= "#{referral}" %> </span> </td>
											<td align="center" > <%= "<span > #{total} </span> " %> </td>				
									</tr>					
					<% end %>
				<% end %>

		      <script>
		          insertBlankRow ();
		      </script>
		  <tbody>
	</table>
</div>

