<script >
    </script>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
	<%= javascript_include_tag 'jquery.dataTables.min.js' %>
	<%= javascript_include_tag 'jquery_data_table.js' %>

	<link ref="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.3/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
	
	<script type="text/javascript" language="javascript" src="/touchscreentoolkit/lib/javascripts/multiTouch.js"></script>
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.3/jquery.dataTables.min.js"></script>
<script>
    jQuery(document).ready(function($) {
     $('#table_id').dataTable({
     "bAutoWidth": false,
     "bPaginate": true,
     "bFilter": true,
     "bProcessing": true
     });
     //document.getElementById('search').setAttribute("onclick","showKeyboard();"); 
    // $('#table_id_filter label input:text')[0].setAttribute("id","search");
     //$("#search").setAttribute("onclick","showKeyboard('search')");
     //$('#table_id_filter label input:text')[0].setAttribute("onclick","showKeyboard();");
      document.getElementById("find").innerHTML = "<span>Back</span>";
      document.getElementById("find").style.cssFloat = "left";
      
        $('#find').click(function() {
              window.location = '/cohort_tool/opd_menu?report_name=<%=@report_name%>'; // /report/data_cleaning';
          })
     })
</script>
<script>
</script> 

		<script>
		          //insertBlankRow ();
		       function setId(){
		       var div = document.createElement("div");
		       div.id = "divScroller";
		       document.getElementById("table_id_filter").appendChild(div);
		       document.getElementById("table_id_filter").getElementsByTagName("input")[0].id = "search";	
		       //search = document.getElementById("search")
		      //search.setAttribute("onClick",showKeyboard('search'))	          	
		          }
		        setTimeout("setId()", 500);
		 </script>


<script>
   function setAttribute(){
   	var x = document.getElementById("search") 
   	x.setAttribute("onClick",showKeyboard("search"))
   }
   setTimeout("setAttribute()", 500);
</script>




<style>

	.basic_span {
		position:relative;
		width:50%;
		display:block;
		float:left;
	}
	
	.logo {
		float:left
	}

	#table_id {
    	width: 100%;
    }
    
    #table_id_filter {
    	float:right;
    	margin-top:-25px;
    }
    #table_id_filter input{
    	padding:0.5em;
    	margin-top:-23px;
    }
    .dataTables_length select {
   		font-size: 25px;
	}
</style>
	<%# raise @current_location_name.to_yaml %>
	<%= image_tag(@logo, :class => "logo")%>
	<br /><b style="margin-left:75px"><%= @current_location_name %></b><br />
	<% if @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT" %>
		<b style="position:relative; top:0px;margin-left:75px"><%= @report_name.upcase == "REFERRAL" ? "Referal In" : "Transfer Out" %></b><br />
	<% else %>
		<b style="position:relative; top:0px;margin-left:75px"><%= @report_name.humanize.split.map{|w| w.capitalize}.join(' ') %></b><br />
	<% end %>

	 <br /><b style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px;margin-left:200px"> Dates : <%= "#{@formated_start_date} to #{@formated_end_date}"%> <%= "<br> Total Registered: #{@total_registered.length}" if (@report_name.upcase == "TOTAL_REGISTERED") %></b>

	<% if ["TOTAL_REGISTERED", "DIAGNOSIS_BY_ADDRESS", "PATIENT_LEVEL_DATA", "DIAGNOSIS_REPORT"].include?(@report_name.upcase) %>	
		<b style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px;margin-left:200px"> Group (s) : <%= "#{@age_groups.join(' , ').to_s}" %> </b><br /><br />
	<% end %>

	<div>
		<table  id="table_id" class="display" >
				<thead>
				
					<% if @report_name.upcase == "DISAGGREGATED_DIAGNOSIS" %>
				    <tr>
						  <th  align="left"> Diagnosis <p />
						  </th>
						  <th> 
									<span><u>< 6 Months </u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th> 
									<span><u>	6 Months to < 5</u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th>
									<span><u> 5 to 14 </u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>						  
						  <th>
									<span><u> > 14 <u/></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>
						  <th>
									<span> <u>Total by gender</u></span> <br />
									<span class="basic_span"> M </span><span class="basic_span" > F </span>
						  </th>
						  <th style="padding-right:30px;" ><u>Total</u><p /></th>
				    </tr>
				    
				  <% elsif @report_name.upcase == "DIAGNOSIS_BY_ADDRESS" %>
				  	<tr  style="background-color:gray">
						  <th align="left"> Diagnosis <p />
						  </th>
						  <th align="left"> 
									 Address  <p />
						  </th>						  
						  <th align="center"> 
										Total  <p />
						  </th>
					</tr>  
				  <% elsif @report_name.upcase == "PATIENT_LEVEL_DATA" %>
				  <tr  style="background-color:gray">
						  <th align="left"> Name <p />
						  </th>
						  <th align="left"> 
									 Birthdate  <p />
						  </th>						  
						  <th align="left"> 
										Gender  <p />
						  </th>
						  <th align="left">  Primary Diagnosis <p />
						  </th>
						  <th align="left"> 
								 Secondary Diagnosis  <p />
						  </th>						  
						  <th  align="left"> 
									Treatment <p />
						  </th>
						  <th align="left"> 
										Visit Date  <p />
						  </th>
					</tr>
					<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %> 
					<tr  style="background-color:gray"> 	
						  <th align="left">DIAGNOSIS<p />
						  </th>
						  <th> 
									 Total  <p />
						  </th>

				  <% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
						  <th> <u>Name</u> <p />
						  </th>
						  <th> 
									<u> Birthdate </u> <p />
						  </th>						  
						  <th> 
									<u>	Gender </u> <p />
						  </th>
						  <th> <u> Date Registered </u> <p />
						  </th>
						  <th> 
									<u> Address </u> <p />
						  </th>						  
						  <th> 
									<u>	T.A </u> <p />
						  </th>
						</tr>
					<% elsif @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT" %>  	
						  <th> <u>Facility</u> <p />
						  </th>
						  <th> 
									<u> <%= @report_name.upcase == "REFERRAL" ? "Total Referrals" : "Total Transfer Outs" %> </u> <p />
						  </th>
						  	  
				  <% end %>
				</thead>
		  <tbody>

				<% if @report_name.upcase == "disaggregated_diagnosis".upcase %>
		      <% @disaggregated_diagnosis.each do |key,value| %>
		      	<tr>
		      			<td width="300px"> <span style="display:block; width:90%;"> <%= key.to_s %> </span> </td>

		      			<td align="left" > <%= "<span class='basic_span' > #{value["< 6 MONTHS"]["M"]} </span> <span class='basic_span'> #{value["< 6 MONTHS"]["F"]}" %> </span> </td>

		      			<td align="left" > <%= "<span class='basic_span' > #{value["U5"]["M"]} </span> <span class='basic_span'> #{value["U5"]["F"]}" %> </span> </td>
		      			<td align="left" > <%= "<span class='basic_span'> #{value["5-14"]["M"]} </span> <span class='basic_span'> #{value["5-14"]["F"]}" %> </span> </td>
		      			<td align="left" > <%= "<span class='basic_span'> #{value[">14"]["M"]}  </span> <span class='basic_span'> #{value[">14"]["F"]}" %> </span> </td>
		      			<% 
		      				 m_total = value[">14"]["M"] + value["5-14"]["M"] + value["U5"]["M"]
		      				 f_total = value["U5"]["F"]+value["5-14"]["F"]+value[">14"]["F"]
		      			%>
		      			<td align="left" > <%= "<span class='basic_span'> #{m_total}  </span> <span class='basic_span'> #{f_total}" %> </td>
		      			<td align="left" style="padding-right:30px; width:130px;" > <%= "#{m_total+f_total}" %> </td>
		      	</tr>
		      <% end %>
		      
				<% elsif @report_name.upcase == "diagnosis_by_address".upcase %>
		      <% @diagnosis_by_address.sort.each do |key,value| %>
		      	
		      			<% value.sort.each do |address, total| %>
									<tr>
											<td width="35%"> <span style="display:block; width:90%;"> <%= key.to_s %> </span> </td>			     
											<td width="35%" align="left" > <%= "<span class='basic_span' > #{ address} </span> " %> </td>
											<td width="30%" align="right" > <%= "<span class='basic_span' > #{ total} </span> " %> </td>			      				
									</tr>
		      			<% end %>
		      <% end %>

				<% elsif @report_name.upcase == "patient_level_data".upcase %>
					<%
						primary_diagnosis = "PRIMARY DIAGNOSIS"
						secondary_diagnosis = "SECONDARY DIAGNOSIS"
						treatment = "TREATMENT"
					%>
					<% @patient_level_data.each do |date,data_hash_by_gender| %>

						<% data_hash_by_gender.each do |gender, data_hash_by_id| %>

							<% data_hash_by_id.each do |id, data_hash_by_name| %>

								<% data_hash_by_name.each do |name, data_hash_by_birthdate| %>

									<% data_hash_by_birthdate.each do |birthdate, data_hash_by_data| %>
									<tr>
											<td> <span style="display:block; width:90%;"> <%= "#{name}" %> </span> </td>
											<td align="left" > <%= "<span > #{birthdate} </span> " %> </td>
											<td align="center" > <%= "<span class='basic_span' > #{gender} </span> " %> </td>
											<td align="left" > <%= "<span class='basic_span' > #{data_hash_by_data[primary_diagnosis]} </span> " %> </td>
											<td align="left" > <%= "<span class='basic_span' > #{data_hash_by_data[secondary_diagnosis]} </span> " %> </td>	     
											<td align="left" > <%= "<span class='basic_spuan' > #{data_hash_by_data[treatment]} </span> " %> </td>
											<td align="left" > <%= "<span class='basic_span' > #{date} </span> " %> </td> 				
									</tr>
									<% end %>

								<% end %>

							<% end %>

						<% end %>
						
					<% end %>
					
				<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>
					<% @diagnosis_report.each do |diagnosis,total| %>
									<tr>
											<td width="50%"> <span style="display:block; width:90%;"> <%= "#{diagnosis}" %> </span> </td>
											<td align="center" > <%= "<span > #{total} </span> " %> </td>				
									</tr>					
					<% end %>
					
				<% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
						<%  
								name=0
								birthdate=1
								gender=2
								date_registered=3
								address=4
								t_a=5
						%>
						<% @total_registered.each do |record| %>
						<tr>
								<td> <span style="display:block; width:90%;"> <%= "#{record[name]}" %> </span> </td>
								<td align="center" > <%= "<span > #{record[birthdate]} </span> " %> </td>
								<td> <%= "<span class='basic_span' > #{record[gender]} </span> " %> </td>
								<td align="right" > <%= "<span class='basic_span' > #{record[date_registered]} </span> " %> </td>
								<td> <%= "<span class='basic_span' > #{record[address]} </span> " %> </td>	     
								<td align="left" > <%= "<span class='basic_spuan' > #{record[t_a]} </span> " %> </td>				
						</tr>
						<% end %>
						
				<% elsif  @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT"  %>
					<% @referral_locations.each do |referral,total| %>
									<tr>
											<td width="50%"> <span style="display:block; width:90%;"> <%= "#{referral}" %> </span> </td>
											<td align="center" > <%= "<span > #{total} </span> " %> </td>				
									</tr>					
					<% end %>
				<% end %>

		       
		      <style type="text/css">
		      	function mykeyboard(){
		      	document.getElementById("search").click(function(){
      		   showKeyboard("search")
      			})
		      	}
		      	  setTimeout("mykeyboard()", 500);
		      	#divMenu {
		      		margin-left: 700px;
		      		top: 200px;
		      	}
		      </style>
		
		  <tbody>
		 
	</table>
	
</div>

