<html>
<head>
    <script type="text/javascript">
        tt_cancel_destination = '/people';
    </script>
	<%= javascript_include_tag "prototype" %>
        <%= javascript_include_tag 'jquery' %>
        <%= stylesheet_link_tag 'extra_buttons' %>
	<%= javascript_include_tag 'jquery_data_table.js' %>
	<%= stylesheet_link_tag 'jquery.dataTables' %>
	<script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>
	<script src="/javascripts/jquery.table2CSV.min.js" type="text/javascript"></script>
	<link href="/stylesheets/opd_cohort.css" media="screen" rel="stylesheet" type="text/css" />
      <script>
		jQuery(document).ready(function($) {
	 	$('#table_id').dataTable({
		"bAutoWidth": false,
		"sScrollY": "380px",
		"bPaginate": false,
		"bFilter": false
		//"bProcessing": true
		//"sPaginationType": "full_numbers"
		//"sPageButton": "paginate_button",

		//"bInfo":false
     	});
                button_div = document.getElementById("buttons")
                next_page = document.getElementsByClassName('next_page')[0]
                button_div.appendChild(next_page)
                if (next_page != 'undefined'){
                  disabled_next_button = (next_page.innerHTML="<button><span>Next >></span></button")
                }
                <% if params[:page].to_i == 1  %>
                disabled_prev_page = document.getElementsByClassName('disabled prev_page')[0]
                button_div.appendChild(disabled_prev_page)
                if (disabled_prev_page != 'undefined'){
                  disabled_prev_button = (disabled_prev_page.innerHTML="<button class='gray'><span><< Previous</span></button")
                }
                <% else  %>
                  prev_page = document.getElementsByClassName('prev_page')[0]
                  button_div.appendChild(prev_page)
                  if (prev_page != 'undefined'){
                    prev_button = (prev_page.innerHTML="<button><span><< Previous</span></button")
                  }
                <% end %>
           
                search = document.getElementsByTagName("input")[0];
 	 	search.setAttribute("id","search");
 	 	document.getElementById('search').setAttribute("onclick","showKeyboard();");
 	 	keyboard = document.getElementsByClassName("keypad")[0]
 	 	document.getElementById('table_id_paginate').style.visibility = 'hidden';//removing the div that shows next and previous buttons
 	 	search_box = $('#table_id').dataTable()
 	 	//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                
		function getCharButtonSetID(character,id){
			return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
		}
		function getButtonString(id,string){
			return "<button \
			onMouseDown='press(this.id);' \
			class='keyboardButton' \
			id='"+id+"'>"+
			string +
			"</button>";
		}

		function getButtons(chars){
			var buttonLine = "";
			for(var i=0; i<chars.length; i++){
			character = chars.substring(i,i+1)
			buttonLine += getCharButtonSetID(character,character)
			}
			return buttonLine;
		}

		showAlphaKeypad();

		function showAlphaKeypad(){
			document.getElementById("keypad").style.height = "280";
			keyboard.innerHTML = getButtons("QWERTYUIOP") + "</br>"
			keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
			keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
			keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
			keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
			keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
			//keyboard.innerHTML+= getButtonString('num','<span>Num</span>')
		}

		function showNumericKeypad(){
			document.getElementById("keypad").style.height = "145";
			keyboard.innerHTML = getButtons("123")
			keyboard.innerHTML+= getButtons("456")
			keyboard.innerHTML+= getButtons("7890")
			keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
			keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
			keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
			keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
			keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
			keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
		}

		data_table_length =document.getElementsByName('table_id_length')[0];
		data_table_length.setAttribute("style","font-size:20px;");

		table_length = document.getElementById("table_id_length");
		table_length.setAttribute("style","width:100px;");
                if ($('#table_id').dataTable().fnGetData().length > 100)
                  {
                  var elements = $('#table_id').dataTable().fnGetData().length;
                  var x = 200
                  while(x < elements){
			data_table_length.innerHTML+="<option value='" + x + "'>" + x + "</option>";
			x+=100
                  }
                  data_table_length.innerHTML+="<option value='" + x + "'>" + x + "</option>";

                  }
		});
      </script>

      <script>
            function showKeyboard(){
            key = document.getElementById("keypad")
            if(key.style.display == 'none' || key.style.display == ""){
            key.style.display = "inline";
            return
            }

            key.style.display = "none";
            }

            function press(pressedChar){
            switch (pressedChar) {
            case 'backspace':
            search.value = search.value.substring(0,search.value.length-1);
            search_box.fnFilter(search.value)
            return;
            case 'Space':
            search.value+= " "
            search_box.fnFilter(search.value)
            return
            case 'clear':
            search.value = ""
            search_box.fnFilter(search.value)
            return
            case 'num':
            showNumericKeypad();
            return
            case 'slash':
            search.value+= "/"
            search_box.fnFilter(search.value)
            return
            case 'dash':
            search.value+= "-"
            search_box.fnFilter(search.value)
            return
            case 'abc':
            showAlphaKeypad();
            return
            }
            search.value+= pressedChar
            search_box.fnFilter(search.value)
  }
//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      </script>

      <style>

            #backspace{
            position:absolute;
            left:100px;
            bottom:2px;
            }

            #Space{
            position:absolute;
            left:220px;
            bottom:2px;
            width:200px;
            }

            #clear{
            position:absolute;
            left:470px;
            bottom:2px;
            }

            #keypad{
            background-color: #FFFFFF;
            border: 2px solid #9999FF;
            border-radius: 15px 15px 15px 15px;
            padding: 5px;
            position:absolute;
            width:670px;
            right:510px;
            height:260px;
            display:none;
            right:4px;
            top:270px;
            }
      </style>



      <style>
            div {
            -moz-user-select: none;
            }
            .basic_span {
            position:relative;
            width:50%;
            display:block;
            float:left;
            }

            .logo {
            float:left
            }

            #table_id {
            width: 100%;
            }

            #table_id_filter{
            position:absolute;
            top:60px;
            left:980px;
            margin-top:-40px;
            }

            #table_id_filter input{
            padding:0.5em;
            }

            .dataTables_length select {
            font-size: 25px;
            }

            .horizontal_line hr{
            position:absolute;
            bottom:130px;
            }

            #table_id_info{
            position:fixed;
            left:650px;
            font-weight:bold;
            top:675px;
            }

            #table_id_paginate {
             position:fixed;
             right:150px;
             font-weight:bold;
             top:670px;
            }

      </style>
</head>
<body >
	<%= image_tag(@logo, :class => "logo")%>
	<br /><b style="margin-left:75px"><%= @current_location_name %></b><br />
	<% if @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT" %>
		<b style="position:relative; top:0px;margin-left:75px"><%= @report_name.upcase == "REFERRAL" ? "Referal In" : "Transfer Out" %></b><br />
	<% else %>
		<b style="position:relative; top:0px;margin-left:75px"><%= @report_name.humanize.split.map{|w| w.capitalize}.join(' ') %></b><br />
	<% end %>

	 <br /><b style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px;margin-left:200px"> Dates : <%= "#{@formated_start_date} to #{@formated_end_date}"%> <%= "<br> Total Registered: #{@total_registered.length}" if (@report_name.upcase == "TOTAL_REGISTERED") %></b>

	<% if ["TOTAL_REGISTERED", "DIAGNOSIS_BY_ADDRESS", "PATIENT_LEVEL_DATA", "DIAGNOSIS_REPORT"].include?(@report_name.upcase) %>
		<b style="position: relative; display:block; font-weight:bold; top:-15px; padding-left:30px;margin-left:200px"> Group (s) : <%= "#{@age_groups.join(' , ').to_s}" %> </b><br /><br />
	<% end %>

	<div>
		<table  id="table_id" class="display" >
<thead>

<% if @report_name.upcase == "DISAGGREGATED_DIAGNOSIS" %>
<tr>
          <th  align="left"> Diagnosis <p />
          </th>
          <th>
              <span><u>< 6 Months </u></span> <br />
              <span class="basic_span"> M </span><span class="basic_span" > F </span>
          </th>
          <th>
              <span><u>	6 Months to < 5</u></span> <br />
              <span class="basic_span"> M </span><span class="basic_span" > F </span>
          </th>
          <th>
              <span><u> 5 to 14 </u></span> <br />
              <span class="basic_span"> M </span><span class="basic_span" > F </span>
          </th>
          <th>
              <span><u> > 14 <u/></span> <br />
              <span class="basic_span"> M </span><span class="basic_span" > F </span>
          </th>
          <th>
              <span> <u>Total by gender</u></span> <br />
              <span class="basic_span"> M </span><span class="basic_span" > F </span>
          </th>
          <th style="padding-right:30px;" ><u>Total</u><p /></th>
</tr>

<% elsif @report_name.upcase == "DIAGNOSIS_BY_ADDRESS" %>
    <tr  style="background-color:gray">
          <th align="left"> Diagnosis <p />
          </th>
          <th align="left">
                                 Address  <p />
          </th>
          <th align="center">
                                        Total  <p />
          </th>
    </tr>
<% elsif @report_name.upcase == "PATIENT_LEVEL_DATA" %>
    <tr  style="background-color:gray">
          <th align="left"> Name <p />
          </th>
          <th align="left">
                                 Birthdate  <p />
          </th>
          <th align="left">
                                        Gender  <p />
          </th>
          <th align="left">  Primary Diagnosis <p />
          </th>
          <th align="left">
                         Secondary Diagnosis  <p />
          </th>
          <th  align="left">
                                Treatment <p />
          </th>
          <th align="left">
                                        Visit Date  <p />
          </th>
    </tr>
<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>
    <tr  style="background-color:gray">
          <th align="left">DIAGNOSIS<p />
          </th>
          <th>
            Total  <p />
          </th>

<% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
          <th> <u>Name</u> <p />
          </th>
          <th>
                                <u> Birthdate </u> <p />
          </th>
          <th>
                                <u>	Gender </u> <p />
          </th>
          <th> <u> Date Registered </u> <p />
          </th>
          <th>
                                <u> Address </u> <p />
          </th>
          <th>
                                <u>	T.A </u> <p />
          </th>
    </tr>
<% elsif @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT" %>
          <th> <u>Facility</u> <p />
          </th>
          <th>
                                <u> <%= @report_name.upcase == "REFERRAL" ? "Total Referrals" : "Total Transfer Outs" %> </u> <p />
          </th>

<% end %>
</thead>
<tbody>


<% if @report_name.upcase == "disaggregated_diagnosis".upcase %>
   <%= will_paginate @disaggregated,:page_links => false,:params => {"@report_name" => @report_name}%>
    <% @diaggregated_diagnosis.each do |key,value| %>
  <tr>
        <td width="300px"> <span style="display:block; width:90%;"> <%= key.to_s %> </span> </td>

        <td align="left" > <%= "<span class='basic_span' > #{value["< 6 MONTHS"]["M"]} </span> <span class='basic_span'> #{value["< 6 MONTHS"]["F"]}" %> </span> </td>

        <td align="left" > <%= "<span class='basic_span' > #{value["U5"]["M"]} </span> <span class='basic_span'> #{value["U5"]["F"]}" %> </span> </td>
        <td align="left" > <%= "<span class='basic_span'> #{value["5-14"]["M"]} </span> <span class='basic_span'> #{value["5-14"]["F"]}" %> </span> </td>
        <td align="left" > <%= "<span class='basic_span'> #{value[">14"]["M"]}  </span> <span class='basic_span'> #{value[">14"]["F"]}" %> </span> </td>
        <%
                 m_total = value[">14"]["M"] + value["5-14"]["M"] + value["U5"]["M"]
                 f_total = value["U5"]["F"]+value["5-14"]["F"]+value[">14"]["F"]
        %>
        <td align="left" > <%= "<span class='basic_span'> #{m_total}  </span> <span class='basic_span'> #{f_total}" %> </td>
        <td align="left" style="padding-right:30px; width:130px;" > <%= "#{m_total+f_total}" %> </td>
  </tr>
<% end %>

<% elsif @report_name.upcase == "diagnosis_by_address".upcase %>
      <%= will_paginate @diagnoses,:page_links => false,:params => {"@report_name" => @report_name}%>
      <% diagnosis =0
         village=1
         total=2
      %>
 <% @diagn_address.each do |address| %>
      <tr>
        <td width="35%"> <span style="display:block; width:90%;"> <%= address[diagnosis] %> </span> </td>
        <td width="35%" align="left" > <%= "<span class='basic_span' > #{ address[village]} </span> " %> </td>
        <td width="30%" align="right" > <%= "<span class='basic_span' > #{ address[total]} </span> " %> </td>
      </tr>
    <% end %>

<% elsif @report_name.upcase == "patient_level_data".upcase %>
        <%
                primary_diagnosis = "PRIMARY DIAGNOSIS"
                secondary_diagnosis = "SECONDARY DIAGNOSIS"
                treatment = "TREATMENT"
        %>
        <% @patient_level_data.each do |date,data_hash_by_gender| %>

        <% data_hash_by_gender.each do |gender, data_hash_by_id| %>

            <% data_hash_by_id.each do |id, data_hash_by_name| %>

                <% data_hash_by_name.each do |name, data_hash_by_birthdate| %>

                    <% data_hash_by_birthdate.each do |birthdate, data_hash_by_data| %>
                          <tr>
                              <td> <span style="display:block; width:90%;"> <%= "#{name}" %> </span> </td>
                              <td align="left" > <%= "<span > #{birthdate} </span> " %> </td>
                              <td align="center" > <%= "<span class='basic_span' > #{gender} </span> " %> </td>
                              <td align="left" > <%= "<span class='basic_span' > #{data_hash_by_data[primary_diagnosis]} </span> " %> </td>
                              <td align="left" > <%= "<span class='basic_span' > #{data_hash_by_data[secondary_diagnosis]} </span> " %> </td>
                              <td align="left" > <%= "<span class='basic_spuan' > #{data_hash_by_data[treatment]} </span> " %> </td>
                              <td align="left" > <%= "<span class='basic_span' > #{date} </span> " %> </td>
                          </tr>
                    <% end %>

                <% end %>

            <% end %>

          <% end %>

      <% end %>

<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>
   <%= will_paginate @diagnosis_report,:page_links => false,:params => {"@report_name" => @report_name}%>
        <% @diagnosis_report.each do |diagnosis,total| %>
        <tr>
            <td width="50%"> <span style="display:block; width:90%;"> <%= "#{diagnosis}" %> </span> </td>
            <td align="center" > <%= "<span > #{total} </span> " %> </td>
        </tr>
<% end %>

<% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
  <%= will_paginate @total_registered,:page_links => false,:params => {"@report_name" => @report_name}%>
        <%
            name=0
            birthdate=1
            gender=2
            date_registered=3
            address=4
            t_a=5
        %>
        <% @total_registered.each do |record| %>
        <tr>
            <td> <span style="display:block; width:90%;"> <%= "#{record[name]}" %> </span> </td>
            <td align="center" > <%= "<span > #{record[birthdate]} </span> " %> </td>
            <td> <%= "<span class='basic_span' > #{record[gender]} </span> " %> </td>
            <td align="right" > <%= "<span class='basic_span' > #{record[date_registered]} </span> " %> </td>
            <td> <%= "<span class='basic_span' > #{record[address]} </span> " %> </td>
            <td align="left" > <%= "<span class='basic_spuan' > #{record[t_a]} </span> " %> </td>
        </tr>
<% end %>

<% elsif  @report_name.upcase == "REFERRAL" || @report_name.upcase == "TRANSFER_OUT"  %>
        <% @referral_locations.each do |referral,total| %>
            <tr>
                <td width="50%"> <span style="display:block; width:90%;"> <%= "#{referral}" %> </span> </td>
                <td align="center" > <%= "<span > #{total} </span> " %> </td>
            </tr>
        <% end %>
<% end %>
</tbody>
</table>
</div>
<div class="horizontal_line">
        <hr width="100%" color="gray"/>
</div>





<div id="keypad">
 <span class="keypad">
 </span>
 </center>

</div>

</body>
</html>
