
<html>
  <head>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%=javascript_include_tag "jquery.table2CSV.min" %>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <%= stylesheet_link_tag "dashboard" %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>


    <script>
      jQuery(document).ready(function($) {
        $('#table_id').dataTable({
          "bAutoWidth": true,
          "bPaginate": false,
          "bProcessing": false,
          "sScrollY": "582px",
          "bInfo": false,
          "bPaginate": false,
          "bSort" : false
        });
        search_box = $('#table_id').dataTable()
        //search = document.getElementsByTagName("input")[0].style.display = 'none';
        //search.setAttribute("id","search");
        //document.getElementById('search').setAttribute("onclick","showKeyboard();");
        //document.getElementById("find").innerHTML = "<span>Back</span>";
        //document.getElementById("find").style.cssFloat = "left";
        //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        keyboard = document.getElementsByClassName("keypad")[0]
        function getCharButtonSetID(character,id){
          return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
        }
        function getButtonString(id,string){
          return "<button \
                                onMouseDown='press(this.id);' \
                                class='keyboardButton' \
                                id='"+id+"'>"+
            string +
            "</button>";
        }

        function getButtons(chars){
          var buttonLine = "";
          for(var i=0; i<chars.length; i++){
            character = chars.substring(i,i+1)
            buttonLine += getCharButtonSetID(character,character)
          }
          return buttonLine;
        }

        showAlphaKeypad();

        function showAlphaKeypad(){
          document.getElementById("keypad").style.height = "280";
          keyboard.innerHTML= getButtons("0123456789") + "</br>"
          keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>"
          keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
          keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
          keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
          keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
          keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
        }

        function showNumericKeypad(){
          document.getElementById("keypad").style.height = "145";
          keyboard.innerHTML = getButtons("123")
          keyboard.innerHTML+= getButtons("456")
          keyboard.innerHTML+= getButtons("7890")
          keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
          keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
          keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
          keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
          keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
          keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
        }

        //data_table_length =document.getElementsByName('table_id_length')[0];
        //data_table_length.setAttribute("style","font-size:20px;");

        //table_length = document.getElementById("table_id_length");
        //table_length.setAttribute("style","width:100px;");

      })
    </script>

    <script>

      function showKeyboard(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
          key.style.display = "inline";
          return
        }

        key.style.display = "none";
      }

      function press(pressedChar){
        switch (pressedChar) {
          case 'backspace':
            search.value = search.value.substring(0,search.value.length-1);
            search_box.fnFilter(search.value)
            return;
          case 'Space':
            search.value+= " "
            search_box.fnFilter(search.value)
            return
          case 'clear':
            search.value = ""
            search_box.fnFilter(search.value)
            return
          case 'num':
            showNumericKeypad();
            return
          case 'slash':
            search.value+= "/"
            search_box.fnFilter(search.value)
            return
          case 'dash':
            search.value+= "-"
            search_box.fnFilter(search.value)
            return
          case 'abc':
            showAlphaKeypad();
            return
        }
        search.value+= pressedChar
        search_box.fnFilter(search.value)
      }
      //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

      function changeProperty(path){
        console.log(path)
        if (path == '/properties/set_role_privileges' || path == '/properties/mailing_management' || path == '/properties/set_appointment_limit' || path == '/properties/clinic_days' || path == '/properties/set_clinic_holidays' || path == '/properties/set_htn_bp_thresholds' || path == '/properties/set_htn_age_threshold' || path == '/properties/staging_properties' || path == '/properties/filing_number' || path == '/properties/site_code'){
          path = path + "?view_configuration=true";
        }else{
          path = path + "&view_configuration=true";
        }
        window.location = path;
      }
      
    </script>

    <style>
      #backspace{
        position:absolute;
        left:100px;
        bottom:2px;
      }

      #Space{
        position:absolute;
        left:220px;
        bottom:2px;
        width:200px;
      }

      #clear{
        position:absolute;
        left:470px;
        bottom:2px;
      }
      #num{
        position:absolute;
        left:470px;
        bottom:2px;
        width:200px;
      }
      #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 13px;
        top: 194px;
        width: 672px;
      }
    </style>
    <style>
      div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #table_id {
        width: 100%;
        
      }

      #table_id_filter{
        position:absolute;
        display: none;
        top:0px;
        right:1%;
        margin-top:-40px;
      }

      #table_id_filter input{
        padding:0.5em;
      }


      .dataTables_length select {
        font-size: 25px;
      }
      .horizontal_line hr{
        display: none;
        position:absolute;
        bottom:104px;
      }
      #table_id_info{
        left: 10px;
        position: absolute;
        top: 491px;
        font-weight:bold;
      }
      #table_id_length{
        display:none;
      }
      #table_id_paginate{
        display:none;
      }
      #num{ display:none; }
      #char{ display:none; }
      #table_id tr:nth-child(odd){
        background: #e6ddd6;
      }
    </style>









    <style>
      div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #find{
        display: none;
      }

      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
      #number{
        background-color: #4A708B;
        border-bottom: 1px outset black;
        text-decoration: none;
        color: white;
        padding: 10px 16px 10px 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }

      .header{
        text-align: center;
      }
    </style>
  </head>
  <body >
    <h3 class="header">System Configurations For <%= @current_location %></h3>
    <table id="table_id" width="99%">
      <thead>
        <tr>
          <th style="width:50%;">Property</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Activate Malaria Feature</td>
          <td><%= @malaria_enable_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=is_this_malaria_enabled_facility?')">Change</td>
        </tr>
        <tr>
          <td>Ask Life threatening Questions</td>
          <td><%= @ask_life_threatening_condition_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_life_threatening_condition_questions')">Change</td>
        </tr>
        <tr>
          <td >Ask complaints before diagnosis</td>
          <td><%= @complaints_before_diagnosis_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_complaints_before_diagnosis')">Change</td>
        </tr>
        <tr>
          <td>Ask complaints under Vitals</td>
          <td><%= @complaint_under_vitals_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_complaints_under_vitals')">Change</td>
        </tr>
        <tr>
          <td>Ask social determinats questions</td>
          <td><%= @social_determinats_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_social_determinants_questions')">Change</td>
        </tr>
        <tr>
          <td>Ask social history questions</td>
          <td ><%= @social_history_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_social_history_questions')">Change</td>
        </tr>
        <tr>
          <td>Ask triage category questions</td>
          <td><%= @triage_category_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_triage_category_questions')">Change</td>
        </tr>
        <tr>
          <td >Ask vitals before diagnosis (children)</td>
          <td ><%= @ask_vitals_before_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=ask_vitals_questions_before_diagnosis')">Change</td>
        </tr>
        <tr>
          <td >Confirm patient creation</td>
          <td ><%= @confirm_patience_creation_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=confirm_before_creating_a_patient')">Change</td>
        </tr>
        <tr>
          <td>Do you print specimen labels?</td>
          <td ><%= @print_specimen_label_property %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=specimen_label_print?')">Change</td>
        </tr>
        <tr>
          <td >Manage Roles</td>
          <td><%= @manage_roles_property rescue 'Not Set'%></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/set_role_privileges')">Change</td>
        </tr>
        <tr>
          <td >Point of care system?</td>
          <td ><%= @point_of_care_property %> </td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=point_of_care_system')">Change</td>
        </tr>
        <tr>
          <td>Shares Database with BART2?</td>
          <td><%= @share_database_property rescue "Not Set" %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=does_this_system_share_database_with_bart?')">Change</td>
        </tr>
        <tr>
          <td>Show Lab Results</td>
          <td><%= @show_lab_results_property rescue "Not Set" %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=show_lab_results')">Change</td>
        </tr>
        <tr>
          <td>Show Tasks button on patient dashboard</td>
          <td><%= @show_task_button_property rescue "Not Set" %></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=show_tasks_button')">Change</td>
        </tr>
        <tr>
          <td>Show column prescription Interface</td>
          <td><%= @show_column_interface_property rescue "Not Set"%></td>
          <td id="number" style="text-align:center" onclick="changeProperty('/properties/creation?redirect=system_configurations&value=use_column_interface')">Change</td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>

    </table>
    <!--</div>-->
    <div class="horizontal_line">
      <hr width="100%" color="gray"/>
    </div>
    <div id="keypad">
      <span class="keypad">
      </span>

    </div>
     <div id="footer" class="dark">
          <div id="buttons" class="buttons" style="top:0px">
            <button id="finish" onclick="window.location='/clinic'" class="blue left" style="position :relative; float:right;"><span>Finish</span></button>
          </div>
        </div>
  </body>
</html>
